{{>header}}

<h1>Registration Page</h1>

<form action="/registeruser" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email"> <br />
    <label for="password">Password:</label>
    <input type="password" name="password"> <br />
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword"> <br />
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName"> <br />
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName"> <br />
    <label for="secretQuestion">Secret Question:</label>
    <select name="secretQuestion" id="secretQuestion">
        <option value="What is your favourite movie?">What is your favourite movie?</option>
        <option value="What is your favourite fruit?">What is your favourite fruit?</option>
    </select> <br />
    <label for="secretAnswer">Secret Answer:</label>
    <input type="text" name="secretAnswer"> <br />
    <input type="submit" value="Register"> <br />
</form>

{{ errormsg }}

{{>footer}}