{{>header}}


<main class="container pt-5 mt-5" role="main">
    <h1>Forgot Password</h1>
    <form action="/forgotpasswordconfirmemail" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" class="form-control" type="text" name="email" placeholder="email@domain.com" required>
        </div>
        <input type="submit" value="Confirm">
    </form>
    {{#errorMessage}}
    <div class="alert alert-danger mx-auto w-25 text-center" role="alert">
        {{errorMessage}}
    </div>
    {{/errorMessage}}

</main>

{{>scripts}}
{{>footer}}