{{>header}}
{{#student}}
{{>navigationbarstudent}}
{{/student}}
{{#teacher}}
{{>navigationbarteacher}}
{{/teacher}}
{{#admin}}
{{>navigationbaradmin}}
{{/admin}}
<main class="container" role="main">
    <h1 class="capitalize mt-5 pt-5">Achievements</h1>
    <h2>{{userInfo.firstName}} {{userInfo.lastName}}'s Achievements</h2>

    {{#achievementData}}
    <div class="row featurette">
        <div class="pt-5 pb-5 col-md-3 d-flex align-items-center justify-content-center">
            <img id="achievementImage" class="mx-auto" width="200" height="200" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" src="{{image_path}}">
        </div>
        <div class="pt-5 mt-4 col-md-9">
            <h2 class="featurette-heading">{{name}}</h2>
            <p class="lead">{{description}}</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{value_percentage}}%" aria-valuenow="{{value_percentage}}" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <p class="blockquote-footer">{{value_actual}}/{{value_goal}}</p>
        </div>
    </div>
    {{/achievementData}}

    {{#notification}}
    <div id="notificationMessage" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{headerText}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{messageText}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn {{type}}" data-dismiss="modal">{{buttonText}}</button>
                </div>
            </div>
        </div>
    </div>
    {{/notification}}
</main>


{{>scripts}}

<script>
    $(document).ready(function () {
        $('#achievementImage[src=""]').attr('src', '/images/defaultUserImage.png');
    });
</script>

<script defer="defer">
    $(window).on('load', function () {
        if (document.body.contains(document.getElementById("notificationMessage")) == true) {
            $("#notificationMessage").modal('show');
        }
    });
</script>
{{>footer}}