{{>header}}
{{#student}}
{{>navigationbarstudent}}
{{/student}}
{{#teacher}}
{{>navigationbarteacher}}
{{/teacher}}
{{#admin}}
{{>navigationbaradmin}}
{{/admin}}

<main class="container" role="main">
<h1 class="mt-5 pt-5">Create Question</h1>
<h2>Question Details</h2>
<a class="btn btn-secondary mb-2" href="/manage/quizzes/{{quizData.quiz_id}}" role="button">Back</a>
<button class="btn btn-primary mb-2" type="submit" form="createQuizForm">Create Question</button>
<form id="createQuizForm" method="post" action="/manage/quizzes/{{quizData.quiz_id}}/question/create">
    <div class="form-group">
        <label for="name">Quiz Name</label>
        <input requiredtype="text" class="form-control" disabled name="name" id="name" placeholder="Quiz Name"
            value="{{quizData.name}}">
    </div>
    <div class="form-group">
        <label for="questionType">Type</label>
        <select class="form-control" name="questionType" id="questionType">
            <option seleted="true">Multiple Choice</option>
            <option>True / False</option>
        </select>
    </div>
    <div class="form-group">
        <label for="questionText">Text</label>
        <textarea class="form-control" name="questionText" id="questionText" placeholder="Question Text"
            rows="3"></textarea>
    </div>
    <h2>Answers</h2>
    <div id="answers">
        <div class="form-row">
            <div class="form-group col-md-9 form-group">
                <label class="sr-only" for="answerText1">Answer 1 Text</label>
                <input requiredtype="text" name="answerText1" class="form-control" id="answerText1"
                    placeholder="Answer 1 Text">
            </div>
            <div class="custom-control custom-radio form-group">
                <input requiredtype="radio" id="isCorrect1" value="isCorrect1" name="isCorrect" class="custom-control-input">
                <label class="custom-control-label" for="isCorrect1">Correct?</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9 form-group">
                <label class="sr-only" for="answerText2">Answer 2 Text</label>
                <input requiredtype="text" name="answerText2" class="form-control" id="answerText2"
                    placeholder="Answer 2 Text">
            </div>
            <div class="custom-control custom-radio form-group">
                <input requiredtype="radio" id="isCorrect2" value="isCorrect2" name="isCorrect" class="custom-control-input">
                <label class="custom-control-label" for="isCorrect2">Correct?</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9 form-group">
                <label class="sr-only" for="answerText3">Answer 3 Text</label>
                <input requiredtype="text" name="answerText3" class="form-control" id="answerText3"
                    placeholder="Answer 3 Text">
            </div>
            <div class="custom-control custom-radio form-group">
                <input requiredtype="radio" id="isCorrect3" value="isCorrect3" name="isCorrect" class="custom-control-input">
                <label class="custom-control-label" for="isCorrect3">Correct?</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9 form-group">
                <label class="sr-only" for="answerText4">Answer 4 Text</label>
                <input requiredtype="text" name="answerText4" class="form-control" id="answerText4"
                    placeholder="Answer 4 Text">
            </div>
            <div class="custom-control custom-radio form-group">
                <input requiredtype="radio" id="isCorrect4" value="isCorrect4"  name="isCorrect" class="custom-control-input">
                <label class="custom-control-label" for="isCorrect4">Correct?</label>
            </div>
        </div>
    </div>
</form>
</main>


{{>scripts}}


<script type="text/javascript">
    $(document).ready(function () {
        // update the answers set depending if question type is MC OR T/F
        // show 4 answers for MC and 2 answers for T/F
        $('#questionType').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            //console.log(valueSelected);

            // get what question type from form
            if (valueSelected == "Multiple Choice") {
                // clear the answers
                $("#answers").empty();
                // set answers to 4 choices
                for (i = 1; i < 5; i++) {
                    var formRow = [];
                    formRow.push('<div class="form-row">');
                    formRow.push('<div class="form-group col-md-9 form-group">');
                    formRow.push('<label class="sr-only" for="answerText' + i + '"> Answer ' + i + ' Text</label>');
                    formRow.push('<input requiredtype="text" name="answerText' + i + '" class="form-control" id="answerText' + i + '" placeholder="Answer ' + i + ' Text">');
                    formRow.push('</div>');
                    formRow.push('<div class="custom-control custom-radio form-group">');
                    formRow.push('<input requiredtype="radio" id="isCorrect' + i + '" value="isCorrect' + i + '" name="isCorrect" class="custom-control-input">')
                    formRow.push('<label class="custom-control-label" for="isCorrect' + i + '">Correct?</label>')
                    formRow.push('</div>');
                    formRow.push('</div>');
                    //console.log(formRow);
                    //console.log(formRow.join(''))
                    $("#answers").append(formRow.join(''));
                }
            } else if (valueSelected == "True / False") {
                // clear the answers
                $("#answers").empty();
                // set answers to 2 choices
                for (i = 1; i < 3; i++) {
                    var formRow = [];
                    formRow.push('<div class="form-row">');
                    formRow.push('<div class="form-group col-md-9 form-group">');
                    formRow.push('<label class="sr-only" for="answerText' + i + '"> Answer ' + i + ' Text</label>');
                    formRow.push('<input requiredtype="text" readonly name="answerText' + i + '" class="form-control" id="answerText' + i + '" placeholder="Answer ' + i + ' Text">');
                    formRow.push('</div>');
                    formRow.push('<div class="custom-control custom-radio form-group">');
                    formRow.push('<input requiredtype="radio" id="isCorrect' + i + '" value="isCorrect' + i + '" name="isCorrect" class="custom-control-input">')
                    formRow.push('<label class="custom-control-label" for="isCorrect' + i + '">Correct?</label>')
                    formRow.push('</div>');
                    formRow.push('</div>');
                    //console.log(formRow);
                    $("#answers").append(formRow.join(''));
                }
                $('input[id="answerText1"]').val("True");
                $('input[id="answerText2"]').val("False");
            }
        })




    });
</script>

{{>footer}}