{{>header}}
{{#student}}
{{>navigationbarstudent}}
{{/student}}
{{#teacher}}
{{>navigationbarteacher}}
{{/teacher}}
{{#admin}}
{{>navigationbaradmin}}
{{/admin}}

<h1 class="capitalize">{{subject}} Quizzes</h1>
<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Quiz Name</th>
          </tr>
        </thead>
        <tbody>
            {{#allQuizzes}}
          <tr>
            <td><a class="capitalize" href="{{subject}}/{{name}}">{{name}}</a></td>
          </tr>
          {{/allQuizzes}}
        </tbody>
      </table>
{{>footer}}