{{>header}}
{{#student}}
{{>navigationbarstudent}}
{{/student}}
{{#teacher}}
{{>navigationbarteacher}}
{{/teacher}}
{{#admin}}
{{>navigationbaradmin}}
{{/admin}}

<main class="container" role="main">
    <h1 class="mt-5 pt-5">Quiz - {{quizData.name}}</h1>
    <a class="btn btn-secondary mb-2" style="display:none;" id="returnHomeButton" href="/homepage" role="button">Return to Homepage</a>
    <h2 id="subTitle">Quiz Details</h2>
    <button class="btn btn-primary" id="checkSubmissionButton" form="quizAttemptForm">Check Submission</button>
    <button class="btn btn-primary" id="submitButton">Submit Quiz</button>
    <form id="quizAttemptForm" method="post" action="javascript:void(0);">
        <input type="hidden" name="quizId" id="quizId" value="{{quizData.quiz_id}}">
        <input type="hidden" name="userId" id="userId" value="{{userInfo.userId}}">
        <div class="form-group">
            <label for="name">Name</label>
            <input readonly type="text" class="form-control" name="name" id="name" placeholder="Quiz Name"
                value="{{quizData.name}}">
        </div>
        <div class="form-group">
            <label for="class">Class</label>
            <input readonly type="text" class="form-control" name="class" id="class" placeholder="Class Name"
                value="{{quizData.class}}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea readonly class="form-control" name="description" id="description"
                rows="3">{{quizData.description}}</textarea>
        </div>
        <h2>Questions</h2>
        <div id="answers">
            {{#quizQuestionsData}}
            <div class="form-group answer-group" id="question-{{question_id}}">
                <input type="hidden" name="question{{questionNumber}}Id" id="questionId{{question_id}}"
                    value="{{question_id}}">
                <label for="question{{questionNumber}}Text">Question {{questionNumber}}</label>
                <textarea readonly class="form-control" name="question{{questionNumber}}Text"
                    id="questionText{{questionNumber}}" rows="3">{{text}}</textarea>
            </div>
            {{/quizQuestionsData}}
        </div>
    </form>


    {{#notification}}
    <div id="notificationMessage" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{headerText}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{messageText}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">{{buttonText}}</button>
                </div>
            </div>
        </div>
    </div>
    {{/notification}}
</main>


{{>scripts}}

<script type="text/javascript">

    const quizId = $("#quizId").val();
    const userId = $("#userId").val();
    const totalQuestions = $('.answer-group').length;
    
    $(document).ready(function () {
        // function to populate the answers
        $('.answer-group').each(function (index, object) {
            const questionId = $(object).attr('id').split('-')[1];

            let questionNumber = index + 1;
            $.ajax({
                url: '/subjects/quizzes/' + quizId + '/test/' + questionId,
                type: 'GET',
                success: function (result) {
                    let answerData = JSON.parse(result);

                    for (i = 0; i < answerData.length; i++) {
                        let answerNumber = i + 1;
                        var answerRow = [];
                        var questionAnswerId = answerData[i]["question_answer_id"];
                        answerRow.push('<div class="form-check">');
                        answerRow.push('<input class="form-check-input" required type="radio"name="question' + questionNumber + 'AnswerId" id="question' + questionNumber + 'answer' + answerNumber + '" value="' + questionAnswerId + '">');
                        answerRow.push('<label class="form-check-label" for="question' + questionNumber + 'answer' + answerNumber + '" >' + answerData[i].answer_text + '</label>');
                        answerRow.push('</div>');
                        $(object).append(answerRow.join(''));
                    }

                }
            })
        });

        // function for when user submits quiz
        // get user confirmation for quiz submission
        // 2 AJAX calls
        // first call to mark the questions and get total correct answeres
        // second call to send grade back to server
        $('#submitButton').click(function () {
            var questionIdArray = {};
            bootbox.confirm("Are you sure you want to submit your quiz?", function (result) {
                if (result == true) {
                    // console.log(result);
                    // if they confirm, ajax request to hide the submit button to prevent multiple submissions
                    $('#submitButton').hide();
                    $('#checkSubmissionButton').hide();
                    $('#returnHomeButton').show();
                    // set data to send
                    for (i = 0; i < totalQuestions; i++) {
                        let answerNumber = i + 1;
                        let inputQuestion = $('input[name="question' + answerNumber + 'Id"]').val();
                            questionIdArray["id"+answerNumber] = inputQuestion;
                            console.log(questionIdArray);
                    }

                    $.ajax({
                        url: '/subjects/quizzes/' + quizId + '/test/submitquiz',
                        type: 'POST',
                        data: questionIdArray,
                        timeout: 2000,

                        success: function (result) {
                            const correctAnswerData = result;
                          //console.log(correctAnswerData);

                            let totalCorrect = 0;


                            for (i = 0; i < correctAnswerData.length; i++) {
                                let answerNumber = i + 1;
                                let inputAnswer = $('input[name="question' + answerNumber + 'AnswerId"]:checked').val();

                              //console.log(inputAnswer)

                                let correctAnswerId = correctAnswerData[i]["question_answer_id"];
                                let questionId = correctAnswerData[i]["question_id"];
                                let correctAnswer = correctAnswerData[i]["answer_text"];

                              //console.log(correctAnswerId);

                                // if selected answer matches the correct answer, update the page
                                if (inputAnswer == correctAnswerId) {
                                    let inputAnswerId = $('input[name="question' + answerNumber + 'AnswerId"]:checked').prop("id");
                                    let answerLabel = $('label[for="' + inputAnswerId + '"]');
                                    totalCorrect += 1;
                                    answerLabel.append('<div style="display:inline; margin-left:20%;" class="alert alert-success" role="alert">Correct!</div>');

                                } else if (inputAnswer != correctAnswerId) {
                                    let inputAnswerId = $('input[name="question' + answerNumber + 'AnswerId"]:checked').prop("id");
                                    let answerLabel = $('label[for="' + inputAnswerId + '"]');

                                    answerLabel.append('<div  style="display:inline; margin-left:20%;" class="alert alert-danger" role="alert">Incorrect!</div>');

                                }

                            }

                            var updateData = {
                                totalCorrect: totalCorrect,
                                userId: userId,
                                totalQuestions: totalQuestions
                            }

                            // create quiz summary then update page to show user
                            const percentScore = ((totalCorrect / totalQuestions) * 100);
                            summary = [];
                            summary.push('<div class="jumbotron">');
                            summary.push('<div class="container">');
                            summary.push('<h1 class="display-4">Quiz Summary</h1>');
                            summary.push('<p class="lead">You got ' + totalCorrect + '/' + totalQuestions + ' correct! (' + percentScore.toFixed(2) + '%) </p>');
                            summary.push('</div></div>');
                            $("#subTitle").before(summary.join(''));

                            // send another AJAX request with
                            // user_id, quiz_id, and score to update db
                            // update page with feedback
                            $.ajax({
                                type: 'POST',
                                url: '/subjects/quizzes/' + quizId + '/test/updategrades',
                                data: updateData,
                                success: function (result) {
                                  console.log(result);
                                }
                            })
                        }
                    })
                }
            })
        })
    });
</script>

<script defer="defer">
    // show any notification modals if one is passed in the view data
    $(window).on('load', function () {
        if (document.body.contains(document.getElementById("notificationMessage")) == true) {
            $("#notificationMessage").modal('show');
        }
    });
</script>

{{>footer}}