{{>header}}
{{#student}}
{{>navigationbarstudent}}
{{/student}}
{{#teacher}}
{{>navigationbarteacher}}
{{/teacher}}
{{#admin}}
{{>navigationbaradmin}}
{{/admin}}

<main class="container" role="main">
    <h1 class="mt-5 pt-5">Subjects</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Subject</th>
            </tr>
        </thead>
        <tbody>
            {{#subjectData}}
            <tr>
                <td><a class="capitalize" href="subjects/{{name}}">{{name}}</a></td>
            </tr>
            {{/subjectData}}
        </tbody>
    </table>
</main>

{{>scripts}}
{{>footer}}