{{>header}}
{{#student}}
{{>navigationbarstudent}}
{{/student}}
{{#teacher}}
{{>navigationbarteacher}}
{{/teacher}}
{{#admin}}
{{>navigationbaradmin}}
{{/admin}}
<main class="container" role="main">
<h1 class="capitalize mt-5 pt-5">User Statistics</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Nickname</th>
            <th scope="col">Average</th>
            <th scope="col">Achievement Points</th>
            <th scope="col">Last Date Active</th>
        </tr>
    </thead>
    <tbody>
        {{#userData}}
        <tr id="row-user-{{user_id}}">
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{nickname}}</td>
            <td>{{average_grade}}</td>
            <td>{{achievement_points}}</td>
            <td>{{last_date_active}}</td>
        </tr>
        {{/userData}}
    </tbody>
</table>

{{#notification}}
<div id="notificationMessage" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{headerText}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{messageText}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">{{buttonText}}</button>
            </div>
        </div>
    </div>
</div>
{{/notification}}
</main>


{{>scripts}}

<script defer="defer">
    // show any notification modals if one is passed in the view data
    $(window).on('load', function () {
        if (document.body.contains(document.getElementById("notificationMessage")) == true) {
            $("#notificationMessage").modal('show');
        }
    });
</script>
{{>footer}}