{{>header}}

<h1>Forgot Password</h1>

<form action="/forgotpasswordconfirmemail" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email"> <br />
    <input type="submit" value="Confirm"> <br />
</form>

{{ errorMessage }}

{{>footer}}