{{>header}}

<h1>Confirm Secret Question</h1>
<p>Secret Question: {{secretQuestion}}</p>
<form action="/forgotpasswordconfirmsecretanswer" method="post">
    <label for="secretAnswer">Secret Answer:</label>
    <input type="text" name="secretAnswer"> <br />
    <input type="submit" value="Confirm"> <br />
</form>

{{ errorMessage }}

{{>footer}}