{{>header}}

<h1>Update Password</h1>

<p>You have entered the correct secret answer!</p>
<p>You may update the password for {{email}}</p>

<form action="/forgotpasswordupdatepassword" method="post">
    <label for="password">Password:</label>
    <input type="password" name="password"> <br />
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword"> <br />
    <input type="submit" value="Confirm"> <br />
</form>

{{ errorMessage }}

{{>footer}}